<div class="app-bar navy" data-role="appbar" data-flexstyle="sidebar2">

    <a class="app-bar-element branding">TwitchTools</a>
    <span class="app-bar-divider"></span>

    <ul class="app-bar-menu place-right">
        <li class="no-flexible"><a (click)="minimize()"><span class="mif-minus icon"></span></a></li>
        <li class="no-flexible"><a (click)="maximize()">

            <span class="mif-arrow-up-right" *ngIf="!maximized"></span>
            <span class="mif-arrow-down-left" *ngIf="maximized"></span>
        </a></li>
        <li class="no-flexible"><a (click)="close()"><span class="mif-cross icon"></span></a></li>
    </ul>

    <app-menu></app-menu>

</div>

<router-outlet></router-outlet>
